@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@700&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing:content-box;
  font-family:"Poppins", sans-serif;
}

body{
  background: url('/static/images/background3.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


h2{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;

}

form input{
    width: 200px;
    height: 50px;
    margin: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
}

form label{
    font-size: 20px;
}

form button{
    width: 100px;
    height: 50px;
    margin: 5px;
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
}

form p{
    margin: 15px;
}

form a{
    text-decoration: none;
    color: blue;
}